<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="phpunit_log_assertions">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="error_reporting" value="E_ALL"/>
    </php>

    <logging>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>
</phpunit>